# ----------------------------------------
#   Misc
# ----------------------------------------
incoming/
.env
sources-*.list
.pipe
/*.deb*

# ----------------------------------------
# Logs
# ----------------------------------------
logs/
*-log
*.log

# ----------------------------------------
# GPG keys
# ----------------------------------------
/.gpg/*.gpg
/.gpg/*.asc
/*.gpg
/*.asc

# ----------------------------------------
# Secrets Files
# ----------------------------------------
secrets.sh
secrets/*
.secrets/*
